In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

# Criar navegador
navegador = webdriver.Chrome()

# Entrar no google e pesquisar cotaçao do dólar
navegador.get('https://www.google.com/')

# Pegar cotaçao do dólar
navegador.find_element(
    By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotaçao dólar', Keys.ENTER)

cotacaoDolar = navegador.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacaoDolar)
# Entrar no google e pesquisar cotaçao do euro
navegador.get('https://www.google.com/')

# Pegar cotaçao do euro
navegador.find_element(
    By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotaçao euro', Keys.ENTER)

cotacaoEuro = navegador.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacaoEuro)
# Entrar no https://www.melhorcambio.com/ouro-hoje
navegador.get('https://www.melhorcambio.com/ouro-hoje')

# Pegar cotaçao do ouro
cotacaoOuro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')
cotacaoOuro = cotacaoOuro.replace(',', '.')
print(cotacaoOuro)

navegador.quit()

5.075
5.538855000000001
325.06

In [2]:
# Importar a base de dados
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [3]:
# Atualizar as cotaçoes
tabela.loc[tabela['Moeda']=='Dólar', 'Cotação'] = float(cotacaoDolar)
tabela.loc[tabela['Moeda']=='Euro', 'Cotação'] = float(cotacaoEuro)
tabela.loc[tabela['Moeda']=='Ouro', 'Cotação'] = float(cotacaoOuro)

# Atualizar o preço de compra e de venda 
# Preco de compra = preco original * cotaçao
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

# Preco de venda = preco compra * margem
tabela['Preço de venda'] = tabela['Preço de Compra'] * tabela['Margem']

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Preço de venda
0,Câmera Canon,999.99,Dólar,5.075000,5074.94925,1.40,6999.930,7104.928950
1,Carro Renault,4500.00,Euro,5.538855,24924.84750,2.00,54000.000,49849.695000
2,Notebook Dell,899.99,Dólar,5.075000,4567.44925,1.70,7649.915,7764.663725
3,IPhone,799.00,Dólar,5.075000,4054.92500,1.70,6791.500,6893.372500
4,Carro Fiat,3000.00,Euro,5.538855,16616.56500,1.90,34200.000,31571.473500
5,Celular Xiaomi,480.48,Dólar,5.075000,2438.43600,2.00,4804.800,4876.872000
6,Joia 20g,20.00,Ouro,325.060000,6501.20000,1.15,8050.000,7476.380000

In [4]:
# Exportar a base de dados
tabela.to_excel('ProdutosNovo.xlsx', index=False)